
<div ng-controller="RecipeController">

  <div class="container-fluid" style="background-color: #A8ECB9">
    <a style="text-decoration: none" href="/"><h2 style="color: white">Recipes</h2></a>
    <input class="navbar-right" type="text" ng-model="searchBox" placeholder="Search"/>
  </div>
  <br>

  <div class="container" style="background-color: white">
    <p style="font-size: 35px">Breakfast</p>
    <hr>
    <div class="text-center">
      <span ng-class="breakClass" ng-click="breakHide = !breakHide; changeBreak()"></span>
    </div>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'breakfast'" ng-show="breakHide">
      <div>
        <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
      </div>
      <hr>
    </div>
  </div>

  <br>

  <div class="container" style="background-color: white">
    <p style="font-size:35px">Lunch</p>
    <hr>
    <div class="text-center">
      <span class="glyphicon glyphicon-menu-down " ng-click="lunchHide = !lunchHide"></span>
    </div>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'lunch'" ng-show="lunchHide">
      <div>
        <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
      </div>
      <hr>
    </div>
  </div>

  <br>

  <div class="container" style="background-color: white">
    <p style="font-size:35px">Dinner</p>
    <hr>
    <div class="text-center">
      <span class="glyphicon glyphicon-menu-down " ng-click="dinnerHide = !dinnerHide"></span>
    </div>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'dinner'" ng-show="dinnerHide">
      <div>
        <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
      </div>
      <hr>
    </div>
  </div>

  <br>

  <div class="container" style="background-color: white">
    <p style="font-size:35px">Sweets</p>
    <hr>
    <div class="text-center">
      <span class="glyphicon glyphicon-menu-down " ng-click="sweetHide = !sweetHide"></span>
    </div>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'sweets'" ng-show="sweetHide">
      <div>
        <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
      </div>
      <hr>
    </div>
  </div>

  <br>

    <div class="container" style="background-color: white">
      <p style="font-size:35px">Other</p>
      <hr>
      <div class="text-center">
        <span class="glyphicon glyphicon-menu-down " ng-click="otherHide = !otherHide"></span>
      </div>
      <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'other'" ng-show="otherHide">
        <div>
          <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
        </div>
        <hr>
      </div>
    </div>

    <br>
<div class="container">
<input type="button" ng-click="isHidden = !isHidden" value="New Recipe"/>

<br><br>

<form ng-show="isHidden" ng-submit="addRecipe()">
  <input ng-model="name" placeholder="Recipe Title"/>
  <br>
  <br>
  Category:
  <br>

  <input type="radio" ng-model="category" value="breakfast"/>Breakfast
  <input type="radio" ng-model="category" value="lunch"/>Lunch
  <input type="radio" ng-model="category" value="dinner"/>Dinner
  <input type="radio" ng-model="category" value="sweets"/>Sweets
  <input type="radio" ng-model="category" value="other"/>Other?
  <br><br>
  <div ng-repeat="ingredient in ingredients">
    <input ng-model="ingredient.name" placeholder="Ingredient">
  </div>
  <br>
  <span ng-click="addIngredient()">Add Ingredient</span>
  <button type="submit">Add Recipe</button>
</form>
</div>

</div>
