<div ng-controller="RecipeController">
  <div style="background-color: #cdcdcd">
    <p style="font-size: 50px">Breakfast</p>
      <span class="glyphicon glyphicon-menu-down" ng-click="breakHide = !breakHide"></span>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'breakfast'" ng-show="breakHide">
      <div>
        <a href="#/recipes/{{$index}}"><h2>{{recipe.name}}</h2></a>
        <p>{{recipe.upvote}} upvotes</p>
      </div>
      <hr>
    </div>
  </div>
  <br>

  <div style="background-color: #cdcdcd">
    <p>Lunch</p>
    <div ng-repeat="recipe in recipes | filter: searchBox " ng-if="recipe.category === 'lunch'">
      <div>
        <a href="#/recipes/{{parseInt($index)+1}}"><h2>{{recipe.name}}</h2></a>
        <p>{{recipe.upvote}}</p>
      </div>
      <hr>
    </div>
  </div>



<input type="button" ng-click="isHidden = !isHidden" value="New Recipe"/>

<br><br>

<form ng-show="isHidden" ng-submit="addRecipe()">
  <input ng-model="name" placeholder="Recipe Title"/>
  <br>
  <br>
  Category:
  <br>

  <input type="radio" ng-model="category" value="breakfast"/>Breakfast
  <input type="radio" ng-model="category" value="lunch"/>Lunch
  <input type="radio" ng-model="category" value="dinner"/>Dinner
  <input type="radio" ng-model="category" value="sweets"/>Sweets
  <input type="radio" ng-model="category" value="other"/>Other?
  <br><br>
  <div ng-repeat="ingredient in ingredients">
    <input ng-model="ingredient.name" placeholder="Ingredient">
  </div>
  <br>
  <span ng-click="addIngredient()">Add Ingredient</span>
  <button type="submit">Add Recipe</button>
</form>
</div>
